@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container-1{
    padding: 3.2rem 0rem; 
    width: 80%;
    border: 1px solid rgba(185, 173, 173, 0.87);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
     margin: 2rem 4% 2rem 10%; 
    margin-bottom: 0rem;
    border-radius: 5px;
    flex-wrap: wrap;
}
.container-1 ul img{
    width: 25vw;
    height:50vh;
    border-radius: 30px;
}
.container-1 ul{
    list-style: none;
}
.container-1 ul:nth-child(1) li:nth-child(1){
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    margin: 0.5rem;
    
}
.container-1 ul:nth-child(1) li:nth-child(2){
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0.5rem;
    margin-left: 0rem;

    
}
.container-1 ul:nth-child(1) li:nth-child(3){
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
    margin:0.5rem;
    margin-left: 0rem;
}
.container-1 ul:nth-child(1) li:nth-child(4) input:nth-child(1){
    margin: 1rem 1rem 0.8rem 0rem;
    padding: 0.5rem;
    
    
}
.container-1 ul:nth-child(1) li:nth-child(4) input:nth-child(2){
    margin: 1rem 0rem 0.8rem 0rem;
    padding: 0.5rem;
    
    
}

.container-1 ul:nth-child(1) li:nth-child(5) input{
    width: 100%;
    padding: 0.5rem;

}
.container-1 ul:nth-child(1) li:nth-child(6) input:nth-child(1){
    margin: 1rem 1rem 0.8rem 0rem;
    padding: 0.5rem;
    
}
.container-1 ul:nth-child(1) li:nth-child(6) input:nth-child(2){
    margin: 1rem 0rem 0.8rem 0rem;
    padding: 0.5rem;
    
    
}
.container-1 ul:nth-child(1) li:nth-child(7)
{
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    margin:0.5rem;
    margin-left: 0rem;

}
.container-1 ul:nth-child(1) li:nth-child(8)input{
    font-size: 1rem;
    margin: 0.5rem;
    color: rgb(31, 31, 31);
}
.container-1 ul:nth-child(1) li:nth-child(9) a{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(25, 81, 155);
    margin: 2rem 0rem 2rem 0rem;
    float: left;

}
.container-1 ul:nth-child(1) li:nth-child(9) button{
   
    float:right;
    border: 1px solid rgb(47, 76, 241);
    color: white;
    background-color: rgb(31, 87, 151);
    border-radius: 5px;
    cursor: pointer;
    margin:2rem 0rem;
    padding: 0.5rem 1rem;
}
.container-1 ul:nth-child(2) li:nth-child(2){
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin:0.5rem;
} 
.container-2{
    margin-top: 2rem;
    width: 75%;
    margin-bottom: 4rem;
    margin-left:  13%;
    margin-right: 9%;
    font-family: 'Montserrat', sans-serif;
}
.container-2 ul{
    
    list-style: none;
    width: 100%;
    align-items: center;

}

.container-2 ul  li a{
    text-decoration: none;
    float: right;
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(100, 123, 124);
    padding-left: 0.8rem;
}
.container-2 ul li:nth-child(1){
    float: left;
}
.container-2 ul li select{
    border: none;
    margin-left: 1rem;
    
}


@media only screen and (max-width:844px){
    .container-1 ul:nth-child(2){
        display: none;
    }
    .container-1 {
        padding: 2rem;
    }
}
@media only screen and (max-width:352px){
    .container-2 ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
    }
    .container-2 ul li:nth-child(2){
        margin-right: 20px;
    } 
    .container-2 ul li:nth-child(3){
        margin-right: 15px;
    } 
    .container-2 ul li:nth-child(4){
        margin-right: 12px;
    } 
    .container-2 ul li select{
        border: none;
        margin-left: 0rem;
        
    }
}